@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 50px;
  background-color: #fff;
  box-shadow: 2px 2px 3px #ddd;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .logo img {
  margin-top: 8px;
  margin-right: 5px;
}

header .logo a {
  color: #000;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

header .logo .warna-hijau {
  color: #2ec210;
}

/* toggle menu navbar */
header nav .sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50%;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

header nav .sidebar li {
  width: 100%;
  padding: 14px;
  margin-left: 20px;
}

header nav .sidebar li a {
  width: 100%;
}
/* toggle menu navbar */

header nav ul {
  display: flex;
  list-style: none;
}

header nav li a {
  text-decoration: none;
  margin-right: 5px;
  color: #000;
  margin-right: 20px;
  font-size: 15px;
}

header nav a .warna-hijau {
  color: #2ec210;
}

header nav a:hover {
  text-decoration: underline;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  margin: auto;
  height: 100vh;
  position: relative;
  font-size: 16px;
}

main .homepage {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  margin: auto;
}

main .section-main .homepage {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

main .section-main .homepage section article p {
  font-size: 16px;
}

main .section-main .belanja {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

main .terbaru {
  margin-top: 50px;
}

main .content {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

main .content .card-gambar {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 40px;
  width: 100%;
}

main .content .harga {
  margin-top: 15px;
}

main .card {
  width: 250px;
  height: 350px;
  background-color: #f5f5f7;
  border-radius: 10px;
  margin: auto;
  text-align: center;
  margin: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

main .card .font-kecil {
  font-size: small;
}

main .card a {
  text-decoration: none;
}

main .card a:hover {
  text-decoration: underline;
}

main .card p {
  line-height: 2em;
}

main .card button {
  padding: 10px 90px;
  border: none;
  background-color: #2ec210;
  border-radius: 7px;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}

main .card button:hover {
  background-color: #25ac0b;
}

main .homepage h1 .warna-hijau {
  color: #2ec210;
  text-decoration: none;
}

main section h1 {
  font-weight: normal;
  font-size: 40px;
}

main section h2 {
  font-size: 30px;
  font-weight: normal;
}

main .homepage .font-tebal {
  font-weight: bold;
}

main .homepage p {
  line-height: 2em;
  font-size: 18px;
}

main .homepage .warna-hijau {
  color: #2ec210;
}

main .homepage button {
  padding: 10px 30px;
  border: none;
  background-color: #2ec210;
  border-radius: 7px;
}

main .homepage button a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

main .homepage button:hover {
  background-color: #25ac0b;
}

main aside h2 .warna-hijau {
  color: #2ec210;
}

main aside .aside-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

main aside {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: yellowgreen;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 25px;
  margin-top: 30px;
}

main aside .aside-main article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

main .aside-main {
  max-width: 1200px;
  margin: 0 auto;
}

main aside .aside-main article h2.founder {
  margin-top: 30px;
}

.warna-hijau {
  color: #2ec210;
}

main .aside-main h2 {
  display: block;
  font-weight: normal;
}

main .aside-main p {
  font-size: 16px;
}

main aside .aside-nama {
  margin: 10px 10px;
  font-weight: normal;
  font-size: 30px;
}

main aside img {
  border-radius: 50%;
  box-shadow: 0px 1px 1px 2px #fff;
  margin-top: -10px;
  margin-bottom: -10px;
}

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1200px;
  font-size: 15px;
  margin: 0 auto;
}

footer .footer-atas {
  display: flex;
  justify-content: space-around;
}

footer .footer-bawah p {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

footer p {
  margin: auto;
}

footer .footer-alamat {
  margin-bottom: 30px;
}

footer .footer-left {
  font-size: 20px;
}

footer .footer-left .warna-hijau {
  color: #2ec210;
}

footer .font-bold {
  font-weight: bold;
}

/* responsive */
/* desktop */
@media (min-width: 993px) {
  main .section-main .belanja-terbaru {
    width: 200px;
    height: 285px;
    background-color: #f5f5f7;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
      rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  }

  main .section-main .homepage {
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
  }

  main aside .aside-main article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
  }
}

/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  main .section-main .homepage {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
  }

  main .section-main .belanja-terbaru {
    width: 200px;
    height: 285px;
    background-color: #f5f5f7;
    border-radius: 10px;
    text-align: center;
    margin: auto;
  }

  main aside .aside-main article {
    width: 90%;
    margin: auto;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 75%;
  }

  main .section-main .homepage {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
  }

  main .section-main .homepage section p {
    font-size: 17px;
  }

  main .section-main .belanja h2 {
    font-size: 30px;
  }

  main .section-main .gambar {
    margin-top: 30px;
    margin-bottom: -70px;
  }

  main .section-main .belanja .content .card {
    width: 200px;
    height: auto;
    padding-bottom: 20px;
    background-color: #f5f5f7;
    border-radius: 10px;
    text-align: center;
  }

  main .section-main .belanja .content .card .card-gambar {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 200px;
  }

  main .section-main .belanja .content .card button {
    width: 100px;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  main aside .aside-main article {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }

  main aside .aside-main article .aside-tentang {
    margin-top: 30px;
  }

  main aside .aside-main article .founder {
    margin-top: 30px;
  }

  main aside .aside-card {
    background-color: transparent;
    box-shadow: none;
  }

  main aside .aside-card img {
    border-radius: 50%;
    box-shadow: 0px 1px 1px 2px #fff;
    margin-top: 10px;
  }
}

/* handphone */
@media (max-width: 576px) {
  html {
    font-size: 75%;
  }

  header .logo a {
    margin-left: 15%;
  }

  main .section-main .homepage {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
  }

  main .section-main .homepage section {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 30px;
  }

  main .section-main .belanja h2 {
    margin-top: 50px;
  }

  main .section-main .belanja .content {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin: 0;
  }

  main .section-main .gambar img {
    width: 400px;
    margin-left: -120px;
    margin-top: 50px;
  }

  main .section-main .homepage section p {
    font-size: 16px;
  }

  main .section-main .belanja-terbaru {
    width: 200px;
    height: 285px;
    background-color: #f5f5f7;
    border-radius: 10px;
    text-align: center;
    margin: 30px;
  }

  main .section-main .belanja .content .card {
    width: 200px;
    height: auto;
    padding-bottom: 20px;
  }

  main .section-main .belanja .content .card img {
    width: 200px;
  }

  main .section-main .belanja h2 {
    font-size: 30px;
  }

  main .section-main section h2 {
    font-size: 20px;
    margin-left: 30px;
  }

  main aside h2 {
    font-size: 30px;
    margin-left: 20px;
  }

  main aside .aside-main article {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 25px;
  }

  main aside .aside-main article .aside-tentang h2#Tentang {
    font-size: 30px;
    margin-left: 0;
  }

  main aside .aside-main article .founder {
    margin-top: 20px;
    font-size: 30px;
    margin-left: 0;
  }

  main aside .aside-card {
    background-color: transparent;
    box-shadow: none;
  }

  main aside .aside-card img {
    border-radius: 50%;
    box-shadow: 0px 1px 1px 2px #fff;
    margin-top: 10px;
  }

  header {
    justify-content: space-between;
  }

  header nav {
    margin-right: 20px;
  }

  header nav .hide-mobile {
    display: none;
  }

  footer {
    font-size: 14px;
  }

  footer .footer-left {
    margin-right: 20px;
    margin-left: 25px;
  }

  footer .footer-right {
    margin-right: 20px;
  }
}

@media (min-width: 577px) {
  header nav .menu-button {
    display: none;
  }
}

/* scroolbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #dddddd;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a4a8b1;
}
